{
    "fromTime": "2021-01-01 00:00:00.000",
    "toTime": "2021-12-21 00:00:00.000",
    "exchange": {
        "name": "binance",
        "apiKey": "YOUR_API_KEY",
        "symbol": "ETHUSDT"
    },
    "dex": {
        "network": "ethereum",
        "name": "paraswap",
        "asset": "ETH",
        "currency": "USDT",
        "wallet": "YOUR_WALLET_ADDRESS",
        "private": "YOUR_WALLET_PRIVATE_KEY"
    },
    "telegram": {
        "enabled": false,
        "token": "TELEGRAM_BOT_TOKEN",
        "chatId": "CHAT_ID"
    },
    "timeframe": 60,
    "strategy": "dca",
    "verbose": 2,
    "startingBalance": 1000,
    "swapFee": 0.002,
    "historySize": 720
}