body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#legend {
    position: absolute;
    left: 30px;
    top: 30px;
    min-width: 350px;
    background-color: rgb(112, 122, 151);
    border: 1px solid rgb(139, 152, 209);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    z-index: 1;
    border-radius: 5px;
    color: rgb(243, 243, 243);
    font-family: monospace;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 0.9rem;
    transition: 0.5s all;
    opacity: 1;
}

#legend.hidden {
    opacity: 0;
}

#legend div {
    margin: 5px 0;
    font-size: 1rem;
}

#legend .text {
    color: rgb(211, 211, 211);
    font-family: sans-serif;
    width: 140px;
    display: inline-block;
}

#legend div:first-child .text {
    width: auto;
}

#legend .value,
#legend .change {
    color: #c9fad5;
    font-family: monospace;
}

#legend .negative .change,
#legend .negative .value {
    color: #fac9c9;
}